/* app.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add more global styles if needed */

.options-list {
  list-style: none;
  padding: 0;
}

.option {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #e0e0e0;
}

/* Additional Styles for Title */
.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  color: #555;
}

/* App.css */
.dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff; /* Adjust color as needed */
}

/* Add more styles if needed */
