/* src/components/QuestionList.css */

.question-list {
    list-style: none;
    padding: 0;
  }
  
  .question {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
  }
  
  .question:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center; /* Center align the questions */
  }
  
  .question-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .options-list {
    list-style: none;
    padding: 0;
  }
  
  .option {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .option:hover {
    background-color: #e0e0e0;
  }
  
  /* Add to QuestionList.css */
.stars-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 999;
  }
  